---
---

.codeDocumentation {
    .subTitle {
        display: none;
    }
    a:link, a:hover  
    {  
    text-decoration:none;  
    } 
    h2 {
        font-size: 46px !important;
        color: #3e3e3e !important;
    }
    caption {
        padding-bottom: 10px !important;
        span {
            height: auto !important;
            background-color: #008785 !important;
            color: white !important;
        }
    }
    .tableTab {
        padding-bottom: 10px !important;
        span {
            background-color: #C5C5C5 !important;
            color: white !important;
        }
    }
    .goHome {
        display: block;
        padding: 20px;
        color: #008785 !important;
    }
}