---
---

html {
    width: 100% !important;
}
.navbar-header {
    font-size: 3rem;
    margin: 10px 0;
}
.logo {
    max-width: 60px;
}
img {
    max-width: 100%;
}
.list-products {
    font-size: 2rem;
    p {
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}