<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        {% include contact/form.html %}
      </div>

      <div class="col-sm-14">
        <h2>Get in touch with Us at any time</h2>

        <p>
          We are of the believe that developing software through Open Source Communities brings many benefits to the project.
          Teclib’ provides several Open Source solutions capable of fulfilling your company's needs.
        </p>
        <p>
          Want to become a Teclib’ Partner? Do you have a question? Great! Use your preferred channel to communicate with us.
          A Teclib’ expert will answer your request and provide you with all the relevant information and advice you need about:
          Our Products, Partnership Programs, Training Courses and Support Solutions.
        </p>
        <p>
          "The connexion between open source Communities, Partners, Customers,
          and R&D Organizations, is made simple and streamlined with Teclib’"
        </p>

        <div class="contact__img">
          {% include contact/cards.html %}
        </div>
      </div>
    </div>
  </div>
</div>
