<div class="container">
  <h3 class="text-center">
    You can also find us on...
  </h3>

  <div class="share-bar">
    <a
      class="btn share-bar__telegram"
      href="https://t.me/flyvemdm"
      title="Message us on Telegram"
    >
      <i class="fab fa-3x fa-telegram"></i>
      <br/>
      <span>Telegram</span>
    </a>

    <a
      class="btn share-bar__irc"
      href="http://webchat.freenode.net/?channels=flyve-mdm"
      title="Chat with us on IRC"
    >
      <i class="far fa-3x fa-comment-alt"></i>
      <br/>
      <span>IRC chat</span>
    </a>

    <a
      class="btn share-bar__reddit"
      href="https://www.reddit.com/r/FlyveMDM/"
      title="Message us on Reddit"
    >
      <i class="fab fa-3x fa-reddit-alien"></i>
      <br/>
      <span>Reddit</span>
    </a>

    <a
      class="btn share-bar__facebook"
      href="https://www.facebook.com/FlyveMDM/"
      title="Contact us on Facebook"
    >
      <i class="fab fa-3x fa-facebook"></i>
      <br/>
      <span>Facebook</span>
    </a>

    <a
      class="btn share-bar__twitter"
      href="https://twitter.com/{{ site.twitter }}"
      title="Send us a Tweet"
    >
      <i class="fab fa-3x fa-twitter"></i>
      <br/>
      <span>Twitter</span>
    </a>

    <a
      class="btn share-bar__google-plus"
      href="https://plus.google.com/collection/c32TsB"
      title="Follow us on Google+"
    >
      <i class="fab fa-3x fa-google-plus-g"></i>
      <br/>
      <span>Google+</span>
    </a>
  </div>
</div>
