<header class="site-header" role="banner">

  <div class="wrapper">
  
    <nav class="navbar navbar-default">
    
        <div class="navbar-global theme-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ site.url }}{{ site.baseurl }}/" class="navbar-brand">
                        <img src="{{ 'images/typo.png' | relative_url }}"  height="23" alt="Flyve MDM" />
                    </a>
                </div>
            </div>
        </div>
    
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyph glyph-hamburger"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">

                        <li>
                            <a class="color-type-secondary logo" href="{{ '/' | relative_url }}">
                                <img src="{{ 'images/logo.png' | relative_url }}">
                            </a>
                        </li>

                        <li>
                            <a class="color-type-secondary" href="{{ '/news' | relative_url }}">News</a>
                        </li>

                        <li class="hidden">
                            <a class="color-type-secondary" href="{{ '/screenshots' | relative_url }}">Screenshots</a>
                        </li>
                        
                        {% if site.github.wiki_url %}
                            <li>
                                <a class="color-type-secondary" href="{{ site.github.wiki_url }}">Wiki</a>
                            </li>
                        {% endif %}

                        <li>
                            <a class="color-type-secondary" href="{{ '/products' | relative_url }}">Projects</a>
                        </li>

                        {% if page.title != 404 %}
                            {% for page in site.pages %}
                                {% if page.title == 'changelog' %}

                                <li>
                                    <a type="button" class="color-type-secondary" data-toggle="modal" data-target="#myModal" href="#" >
                                        {{ page.title | capitalize }}
                                    </a>
                                </li>
                                
                                {% assign changelog = page %}

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        <li>
                            <a class="color-type-secondary" href="{{ '/contact' | relative_url }}">Contact</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        
        </div>
</header>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ changelog.content }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>