<header class="site-header" role="banner">

  <div class="wrapper">
  
    <nav class="navbar navbar-default">
    
        <div class="navbar-global theme-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ '/' | relative_url }}" class="navbar-brand">
                        <img src="images/typo.png"   height="23" />
                    </a>
                </div>
            </div>
        </div>
    
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyph glyph-hamburger"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">

                        <li>
                            <a class="color-type-secondary logo" href="{{ site.baseurl }}/">
                                <img src="images/logo.png">
                            </a>
                        </li>

                        <li>
                            <a class="color-type-secondary" href="news">News</a>
                        </li>
                        
                        {% if site.github.wiki_url %}
                            <li>
                                <a class="color-type-secondary" href="{{ site.github.wiki_url }}">Developer Documentation</a>
                            </li>
                        {% endif %}

                        <li>
                            <a class="color-type-secondary" href="products">Products</a>
                        </li>

                    </ul>
                </div>
            </div>
        
        </div>
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-24 col-sm-16">
                            {% assign name = site.github.project_title | replace: "flyve-mdm-", "" %}
                            {% assign name = name | replace: "-", " " %}
                            <h2><span class="color-type-primary">{{ name }}</span> <span class="color-type-secondary"> {{ site.github.latest_release.tag_name }} </span></h2>
                            <div class="type-sh2">{{ site.github.project_tagline }}</div>
                            <div class="m-t-xs m-b-md"><a href="{{ site.github.repository_url }}" class="btn btn-primary">{{ name }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
</header>
