<div class="share-bar">
  <button
    class="btn share-bar__facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Facebook"
  >
    <i class="fab fa-facebook"></i>
  </button>

  <button
    class="btn share-bar__twitter"
    href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Twitter"
  >
    <i class="fab fa-twitter"></i>
  </button>

  <button
    class="btn share-bar__google"
    href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Google+"
  >
    <i class="fab fa-google-plus-g"></i>
  </button>

  <button
    class="btn share-bar__pinterest"
    href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Pinterest"
  >
    <i class="fab fa-pinterest-p"></i>
  </button>

  <button
    class="btn share-bar__tumblr"
    href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Tumblr"
  >
    <i class="fab fa-tumblr"></i>
  </button>

  <button
    class="btn share-bar__reddit"
    href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Reddit"
  >
    <i class="fab fa-reddit-alien"></i>
  </button>

  <button
    class="btn share-bar__linkedin"
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on LinkedIn"
  >
    <i class="fab fa-linkedin"></i>
  </button>

  <button
    class="btn share-bar__email"
    href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
    title="Share via Email"
  >
    <i class="far fa-envelope"></i>
  </button>
</div>
