.Page-not-found {
    text-align: center;
    h1 {
        font-size: 12rem;
    }
    p {
        display: inline-block;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
}