$light-grey: #eee;

.page-not-found {
  text-align: center;

  h1 {
    font-size: 12rem;
  }

  p {
    border-bottom: 1px solid $light-grey;
    display: inline-block;
    padding-bottom: 20px;
  }
}
