html {
    position: relative; 
    min-height: 100%;
}

body {
    margin: 0 0 72px;
}

code {
    white-space: pre !important;
}

hr {
    margin: 20px 0 !important;
}

img {
    max-width: 100% !important;
}

.jumbotron.theme-default, .theme-default.hero {
    color: #3e3e3e;
    background-color: #fff;
}
.jumbotron.theme-dark h3 {
    padding: 30px 0;
}