$white: #fff;
$grey: #f2f2f2;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 72px;
}

code {
  white-space: pre;
}

hr {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.jumbotron {

  &.theme-default {
    background-color: $white;
  }

  &.theme-dark {
    h3 {
      padding-top: 0;
    }
  }
}

.article-howtos {
  margin-left: 40px;
}

.zebra-style {

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 25px;
  }

  th,
  td {
    padding: 16px;
  }

  tr {
    &:nth-child(odd) {
      background-color: $grey;
    }
  }
}
