header {
    .navbar-nav {
        img {
            width: 50px;
            vertical-align: middle;
        }
        .logo {
            padding: 10px !important;
        }
    }
}

.modal-body {
    $size: 15px;
    font-size: $size !important;
    h1, h2, h3, h4, h5, h6 {
        font-size: $size * 1.3;
        padding: 10px 0;
        font-weight: bold;
    }
    h1 {
        font-size: $size * 1.8;
    }
}

.title-page {
    font-size: 2.5rem;
    padding: 10px 0;
    font-family: "Segoe UI Light","Segoe UI","Selawik Light",Tahoma,Verdana,Arial,sans-serif;
}