<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.flyve.mdm.agent"
    android:versionCode="2969"
    android:versionName="2.0.0-rc.5">

    <!-- For writing logfiles -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- For restart service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <!-- for location information -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- works on ROOTED phones if the app is moved to /system/app -->
    <!--This permission are required to enable GPS-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <!-- this is required to enable or disable SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <!-- Lock screen -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ui.MDMAgent"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="b6bc7ce0da33f92fe6c49c568af43963"/>

        <activity android:name=".ui.InstallAppActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".ui.ScanActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name=".ui.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.PermissionEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar"
            >
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="flyve"
                    android:host="robotest"
                    />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.EnrollmentActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.EditUserActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.ErrorActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.PreviewSupervisorActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.DisclosureActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.PreviewUserActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.StartEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="flyve.org"
                    android:pathPrefix="/deeplink"
                     />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="flyve"
                    android:host="register" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService"
            android:label="Paho MQTT Service"
            >
        </service>
        <service
            android:name=".services.MQTTService"
            android:enabled="true"
            android:label="M2M communications"
            >
            <intent-filter>
                <action android:name="org.flyve.mdm.agent.ACTION_START"/>
                <action android:name="org.flyve.mdm.agent.ACTION_INVENTORY"/>
            </intent-filter>
        </service>

        <!-- This receiver is for restart MQTT on reboot device -->
        <receiver
            android:name=".receivers.MQTTRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="org.flyve.mdm.agent.restart" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- This receiver is for Device Admin Policies -->
        <receiver
            android:name=".receivers.FlyveAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin">
            </meta-data>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
                <action android:name="android.nfc.extra.ADAPTER_STATE" />
            </intent-filter>
        </receiver>

        <!-- This receiver is for information about Wifi or Bluetooth -->
        <receiver
            android:name=".receivers.MQTTConnectivityReceiver"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>

        <!-- This receiver is for information about Wifi or Bluetooth -->
        <receiver
            android:name=".receivers.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- This receiver check if any app is installed, deleted or updated -->
        <receiver android:name=".receivers.AppsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REMOVED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REPLACED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>