<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.flyve.mdm.agent"
    android:versionCode="3715"
    android:versionName="2.0.0-rc.7">

    <!-- For LockScreen -->
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- For writing logfiles -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- For restart service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- for location information -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- works on ROOTED phones if the app is moved to /system/app -->
    <!-- This permission are required to enable GPS -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />


    <!-- Lock screen -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Auto start app on boot-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ui.MDMAgent"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".service.RunOnStartup"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <receiver android:name=".receivers.AppReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="b6bc7ce0da33f92fe6c49c568af43963" />

        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_white" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".ui.InstallAppActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.UninstallAppActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.OptionsEnrollmentActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.ScanActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PermissionEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="robotest"
                    android:scheme="flyve" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EnrollmentActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.EditUserActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.ErrorActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.PreviewSupervisorActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.DisclosureActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.PreviewUserActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".ui.StartEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="flyve.org"
                    android:pathPrefix="/deeplink"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="register"
                    android:scheme="flyve" />
            </intent-filter>
        </activity>

    </application>

</manifest>