<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.flyve.mdm.agent"
    android:versionCode="200"
    android:versionName="1.0.0">

    <!-- For writing logfiles -->
    <uses-permission android:name="android.permisson.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For restart service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- for location information -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MDMAgent"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".EnrollmentActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".EditUserActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".EditSupervisorActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".StartEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="register"
                    android:scheme="flyve" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService"
            android:label="Paho MQTT Service"
            >
        </service>
        <service
            android:name=".services.MQTTService"
            android:enabled="true"
            android:label="M2M communications"
            >
            <intent-filter>
                <action android:name="org.flyve.mdm.agent.ACTION_START"/>
                <action android:name="org.flyve.mdm.agent.ACTION_INVENTORY"/>
            </intent-filter>
        </service>

        <!-- This receiver is for restart MQTT on reboot device -->
        <receiver
            android:name=".services.MQTTRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="org.flyve.mdm.agent.restart" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- This receiver is for Device Admin Policies -->
        <receiver
            android:name=".security.FlyveAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin">
            </meta-data>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>

        <!-- This receiver is for information about Wifi or Bluetooth -->
        <receiver
            android:name=".services.MQTTConnectivityReceiver"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- This receiver check if any app is installed, deleted or updated -->
        <receiver android:name=".services.AppsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REMOVED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REPLACED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>