$theme-primary: #158784;
$theme-lighter-alt: #f2fafa;
$theme-lighter: #cceceb;
$theme-light: #a4dbd9;
$theme-tertiary: #5bb7b4;
$theme-secondary: #279692;
$theme-dark-alt: #137a76;
$theme-dark: #106764;
$theme-darker: #0c4c4a;
$neutral-lighter-alt: #f8f8f8;
$neutral-lighter: #f4f4f4;
$neutral-light: #eaeaea;
$neutral-quaternary-alt: #dadada;
$neutral-quaternary: #d0d0d0;
$neutral-tertiary-alt: #c8c8c8;
$neutral-tertiary: #c2c2c2;
$neutral-secondary: #858585;
$neutral-primary-alt: #4b4b4b;
$neutral-primary: #333;
$neutral-dark: #272727;
$black: #1d1d1d;
$darkcyan: #189d9a;
$gray: #808080;
$lightcyan: #bdf5f3;
$lightgray: #d9d9d9;
$lightgray2: rgba(0, 0, 0, .2);
$lightgray3: rgba(62, 62, 62, .05);
$lightgray4: rgba(99, 99, 99, .05);
$strongcyan: #1fc9c5;
$strongcyan2: rgb(21, 135, 132);
$white: #fff;
$body-text: #333;
$body-background: #fff;

$irc: #2f7590;
$telegram: #00a2d9;
$facebook: #3b5998;
$twitter: #55acee;
$google-plus: #dd4b39;
$google-group: #4561da;
$pinterest: #cb2027;
$tumblr: #32506d;
$reddit: #ff4500;
$linkedin: #007bb5;
$email: #444;
