// Microsoft RavadaUI color palette

// WHEN DEFINING COLORS...
// Opacity is the primary device used to ensure proper contrast ratio
// When $color-type-secondary calls for #3e3e3e at 60%, it actually wants some transparency, rather than an opaque 60% grey
// Use HEX for colors with 100% opacity
// Use RGBA for colors with < 100% opacity
// You can convert HEX to RGBA using the rgba($color, opacity) function

//
// Color variables
//

// Base colors
$color-gray:                        #363636;
$color-accent:                      #158784 !default;
$color-alert:                       #d02e00 !default;
$color-white:                       #fff;


// Primary brand colors
$color-blue:                        #0078d7;
$color-purple:                      #5c2d91;
$color-magenta:                     #b4009e;
$color-red:                         #e81123;
$color-orange:                      #d83b01;
$color-yellow:                      #ffb900;
$color-green:                       #107c10;
$color-teal:                        #008272;


// Brand content accent colors
$color-lightblue:                   #00bcf2;
$color-midblue:                     #00188f;
$color-darkblue:                    #002050;
$color-lightpurple:                 #b4a0ff;
$color-darkpurple:                  #32145a;
$color-lightmagenta:                #e3008c;
$color-darkmagenta:                 #5c005c;
$color-darkred:                     #a80000;
$color-lightorange:                 #ff8c00;
$color-lightyellow:                 #fff100;
$color-lightgreen:                  #bad80a;
$color-darkgreen:                   #004b1c;
$color-lightteal:                   #00b294;
$color-darkteal:                    #004b50;


// Background colors
$color-bg-light-vivid-high:         $color-white;
$color-bg-light-vivid-mid:          #f4f8fa;
$color-bg-light-vivid-low:          #eaf0f3;
$color-bg-light-neutral-high:       #e4eaec;
$color-bg-light-neutral-mid:        #d3dde2;

$color-bg-dark-vivid-high:          $color-gray;
$color-bg-dark-vivid-mid:           #484848;
$color-bg-dark-vivid-low:           #525252;
$color-bg-dark-neutral-high:        #5c5c5c;
$color-bg-dark-neutral-mid:         #666;


// Type colors
$color-type-primary:                $color-gray;
$color-type-secondary:              rgba($color-gray, .6);
$color-type-disabled:               rgba($color-gray, .2);
$color-type-accent:                 $color-accent;
$color-type-alert:                  $color-alert;

$color-type-primary-alt:            $color-white;
$color-type-secondary-alt:          rgba($color-white, .6);
$color-type-disabled-alt:           rgba($color-white, .2);
$color-type-accent-alt:             $color-accent;
$color-type-alert-alt:              $color-alert;


// Fill/line colors
$color-dim-low:                     rgba($color-gray, .05);
$color-dim-mid:                     rgba($color-gray, .07);
$color-neutral-low:                 rgba($color-gray, .2);
$color-neutral-mid:                 rgba($color-gray, .3);
$color-neutral-high:                rgba($color-gray, .4);
$color-vivid-low:                   rgba($color-gray, .6);
$color-vivid-mid:                   rgba($color-gray, .8);
$color-vivid-high:                  $color-gray;

$color-dim-mid-alt:                 rgba($color-white, .1);
$color-dim-high-alt:                rgba($color-white, .15);
$color-neutral-low-alt:             rgba($color-white, .2);
$color-neutral-mid-alt:             rgba($color-white, .3);
$color-neutral-high-alt:            rgba($color-white, .4);
$color-vivid-low-alt:               rgba($color-white, .6);
$color-vivid-mid-alt:               rgba($color-white, .8);
$color-vivid-high-alt:              $color-white;

$color-accent-dim-low:              rgba($color-accent, .05);
$color-accent-dim-mid:              rgba($color-accent, .1);
$color-accent-dim-high:             rgba($color-accent, .15);
$color-accent-neutral-low:          rgba($color-accent, .2);
$color-accent-neutral-mid:          rgba($color-accent, .3);
$color-accent-neutral-high:         rgba($color-accent, .4);
$color-accent-vivid-low:            rgba($color-accent, .6);
$color-accent-vivid-mid:            rgba($color-accent, .8);
$color-accent-vivid-high:           $color-accent;


//
// Color classes
//

// Base colors
.color-white {
  background: $color-white;
}

.color-gray {
  background: $color-gray;
}

.color-accent {
  background: $color-accent;
}

.color-alert {
  background: $color-alert;
}


// Text colors
.color-type-primary {
  color: $color-type-primary;
}

.color-type-secondary {
  color: $color-type-secondary;
}

.color-type-disabled {
  color: $color-type-disabled;
}

.color-type-accent {
  color: $color-type-accent;
}

.color-type-alert {
  color: $color-type-alert;
}


// Alt text colors
.color-type-primary-alt {
  color: $color-type-primary-alt;
}

.color-type-secondary-alt {
  color: $color-type-secondary-alt;
}

.color-type-disabled-alt {
  color: $color-type-disabled-alt;
}

.color-type-accent-alt {
  color: $color-type-accent-alt;
}

.color-type-alert-alt {
  color: $color-type-alert-alt;
}


// Fill colors
.color-fill-dim-low {
  background-color: $color-dim-low;
}

.color-fill-dim-mid {
  background-color: $color-dim-mid;
}

.color-fill-neutral-low {
  background-color: $color-neutral-low;
}

.color-fill-neutral-mid {
  background-color: $color-neutral-mid;
}

.color-fill-neutral-high {
  background-color: $color-neutral-high;
}

.color-fill-vivid-low {
  background-color: $color-vivid-low;
}

.color-fill-vivid-mid {
  background-color: $color-vivid-mid;
}

.color-fill-vivid-high {
  background-color: $color-vivid-high;
}


// Alt fill colors
.color-fill-dim-mid-alt {
  background-color: $color-dim-mid-alt;
}

.color-fill-dim-high-alt {
  background-color: $color-dim-high-alt;
}

.color-fill-neutral-low-alt {
  background-color: $color-neutral-low-alt;
}

.color-fill-neutral-mid-alt {
  background-color: $color-neutral-mid-alt;
}

.color-fill-neutral-high-alt {
  background-color: $color-neutral-high-alt;
}

.color-fill-vivid-low-alt {
  background-color: $color-vivid-low-alt;
}

.color-fill-vivid-mid-alt {
  background-color: $color-vivid-mid-alt;
}

.color-fill-vivid-high-alt {
  background-color: $color-vivid-high-alt;
}


// Line colors
.color-line-dim-low {
  border-color: $color-dim-low;
}

.color-line-dim-mid {
  border-color: $color-dim-mid;
}

.color-line-neutral-low {
  border-color: $color-neutral-low;
}

.color-line-neutral-mid {
  border-color: $color-neutral-mid;
}

.color-line-neutral-high {
  border-color: $color-neutral-high;
}

.color-line-vivid-low {
  border-color: $color-vivid-low;
}

.color-line-vivid-mid {
  border-color: $color-vivid-mid;
}

.color-line-vivid-high {
  border-color: $color-vivid-high;
}


// Alt line colors
.color-line-dim-mid-alt {
  border-color: $color-dim-mid-alt;
}

.color-line-dim-high-alt {
  border-color: $color-dim-high-alt;
}

.color-line-neutral-low-alt {
  border-color: $color-neutral-low-alt;
}

.color-line-neutral-mid-alt {
  border-color: $color-neutral-mid-alt;
}

.color-line-neutral-high-alt {
  border-color: $color-neutral-high-alt;
}

.color-line-vivid-low-alt {
  border-color: $color-vivid-low-alt;
}

.color-line-vivid-mid-alt {
  border-color: $color-vivid-mid-alt;
}

.color-line-vivid-high-alt {
  border-color: $color-vivid-high-alt;
}


// Background colors
.color-bg-light-vivid-high {
  background-color: $color-bg-light-vivid-high;
}

.color-bg-light-vivid-mid {
  background-color: $color-bg-light-vivid-mid;
}

.color-bg-light-vivid-low {
  background-color: $color-bg-light-vivid-low;
}

.color-bg-light-neutral-high {
  background-color: $color-bg-light-neutral-high;
}

.color-bg-light-neutral-mid {
  background-color: $color-bg-light-neutral-mid;
}

.color-bg-dark-vivid-high {
  background-color: $color-bg-dark-vivid-high;
}

.color-bg-dark-vivid-mid {
  background-color: $color-bg-dark-vivid-mid;
}

.color-bg-dark-vivid-low {
  background-color: $color-bg-dark-vivid-low;
}

.color-bg-dark-neutral-high {
  background-color: $color-bg-dark-neutral-high;
}

.color-bg-dark-neutral-mid {
  background: $color-bg-dark-neutral-mid;
}


// Accent background colors
.color-fill-accent-dim-low {
  background-color: $color-accent-dim-low;
}

.color-fill-accent-dim-mid {
  background-color: $color-accent-dim-mid;
}

.color-fill-accent-dim-high {
  background-color: $color-accent-dim-high;
}

.color-fill-accent-neutral-low {
  background-color: $color-accent-neutral-low;
}

.color-fill-accent-neutral-mid {
  background-color: $color-accent-neutral-mid;
}

.color-fill-accent-neutral-high {
  background-color: $color-accent-neutral-high;
}

.color-fill-accent-vivid-low {
  background-color: $color-accent-vivid-low;
}

.color-fill-accent-vivid-mid {
  background-color: $color-accent-vivid-mid;
}

.color-fill-accent-vivid-high {
  background-color: $color-accent-vivid-high;
}

.color-fill-alert {
  background-color: $color-alert;
}


// Accent line colors
.color-line-accent-dim-low {
  border-color: $color-accent-dim-low;
}

.color-line-accent-dim-mid {
  border-color: $color-accent-dim-mid;
}

.color-line-accent-dim-high {
  border-color: $color-accent-dim-high;
}

.color-line-accent-neutral-low {
  border-color: $color-accent-neutral-low;
}

.color-line-accent-neutral-mid {
  border-color: $color-accent-neutral-mid;
}

.color-line-accent-neutral-high {
  border-color: $color-accent-neutral-high;
}

.color-line-accent-vivid-low {
  border-color: $color-accent-vivid-low;
}

.color-line-accent-vivid-mid {
  border-color: $color-accent-vivid-mid;
}

.color-line-accent-vivid-high {
  border-color: $color-accent-vivid-high;
}

.color-line-alert {
  border-color: $color-alert;
}


// Primary brand background colors
.color-blue {
  background-color: $color-blue;
}

.color-purple {
  background-color: $color-purple;
}

.color-magenta {
  background-color: $color-magenta;
}

.color-red {
  background-color: $color-red;
}

.color-orange {
  background-color: $color-orange;
}

.color-yellow {
  background-color: $color-yellow;
}

.color-green {
  background-color: $color-green;
}

.color-teal {
  background-color: $color-teal;
}


// Brand content accent background colors
.color-lightblue {
  background-color: $color-lightblue;
}

.color-midblue {
  background-color: $color-midblue;
}

.color-darkblue {
  background-color: $color-darkblue;
}

.color-lightpurple {
  background-color: $color-lightpurple;
}

.color-darkpurple {
  background-color: $color-darkpurple;
}

.color-lightmagenta {
  background-color: $color-lightmagenta;
}

.color-darkmagenta {
  background-color: $color-darkmagenta;
}

.color-darkred {
  background-color: $color-darkred;
}

.color-lightorange {
  background-color: $color-lightorange;
}

.color-lightyellow {
  background-color: $color-lightyellow;
}

.color-lightgreen {
  background-color: $color-lightgreen;
}

.color-darkgreen {
  background-color: $color-darkgreen;
}

.color-lightteal {
  background-color: $color-lightteal;
}

.color-darkteal {
  background-color: $color-darkteal;
}
