.modal-body {
  $size: 15px;
  font-size: $size;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $size * 1.3;
    font-weight: bold;
    padding: 10px 0;
  }

  h1 {
    font-size: $size * 1.8;
  }
}
