---
layout: default
---
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 title-page">
                {% assign name = site.github.project_title | replace: "flyve-mdm-", "" | capitalize %}
                {% assign name = name | replace: "-", " " %}
                <span class="color-type-primary">{{ name }}</span> <span class="color-type-secondary"> {{ site.github.latest_release.tag_name }} </span>
            </div>
        </div>
    </div>
</div>
<div class="container">

  {{ content }}
  
</div>