---
layout: default
---

<div class="sub-header">
  <div class="container">
    {% if page.permalink != "projects" %}
      {% assign name = site.github.project_title | replace: "flyve-mdm-", "" %}
      {% assign name = name | replace: "-", " " %}
      <span class="sub-header__text-primary">
        {{ name }}
      </span>
      <span class="sub-header__text-secondary">
        {{ site.github.latest_release.tag_name }}
      </span>
    {% else %}
      <span class="sub-header__text-primary">
        More products of Flyve MDM
      </span>
    {% endif %}
  </div>
</div>

{{ content }}
